<div>

  <h5> Or Login using Social Media</h5>

  <a class="btn btn-block btn-social btn-google" style="color: white" (click)="socialSign('google')">
    <span class="fa fa-google"></span> Sign in with Google
  </a>

  <a class="btn btn-block btn-social btn-facebook" style="color: white" (click)="socialSign('facebook')">
    <span class="fa fa-facebook"></span> Sign in with Facebook
  </a>

  <a class="btn btn-block btn-social btn-twitter" style="color: white" (click)="socialSign('twitter')">
    <span class="fa fa-twitter"></span> Sign in with Twitter
  </a>

  <a class="btn btn-block btn-social btn-github" style="color: white" (click)="socialSign('github')">
      <span class="fa fa-github"></span> Sign in with Github
    </a>

     <a class="btn btn-block btn-social btn-microsoft" style="color: white" (click)="windowsSign()">
        <span class="fa fa-windows"></span> Sign in with Microsoft
      </a> 

</div>