<div class="container" style="margin-top:30px">
    <h4>Logged In As..</h4>
    <div class="row">
        <div class="col-xs-5 col-sm-4">
            <div class="card">
                <div class="card-header">
                    {{ getName() }}
                </div>
                <div class="card-body">
                     <img [src]="getPhoto()" [alt]="getName()" class="img-responsive" style="max-height:300px; max-width: 300px;">
                    <!-- <img [src]="base64" [alt]="getName()" class="img-responsive" style="max-height:300px;"> -->
                </div>
                <div class="card-footer">
                    {{ getEmail() }}
                </div>
            </div>

        </div>

    </div>

</div>